{sub_dirs, ["rel"]}.
{cover_enabled, true}.
{lib_dirs, ["deps"]}.
{erl_opts, [
    debug_info, 
    fail_on_warning,
    {i, "include"},
    {i, "../../include"},
    {i, "../../../../../include"},
    {i, "../../src/codegen/include"},
    {parse_transform, lager_transform},
    {d, 'DEBUG'}]}.
{deps, [
    {cowboy, "1.1.2", {git, "https://github.com/ninenines/cowboy", {tag, "1.1.2"}}}
    ]}.